
    <div class="col-12 uk-background-default  uk-box-shadow-medium border uk-border-rounded py-3" id="product">
        <!--Title of special discount list-->
        <h3 class="Arial fontsize-14 text-left mx-3 my-1 py-2">
            <span class="blue-600 border-bottom--blue py-2">Special Offers</span>
        </h3>
        <!--Filtering options-->
        <div class="row uk-background-default py-2 m-0 align-items-center">
            <!--Add new special discount-->
            <div class="col-md-auto my-2 px-1 px-sm-2">
                <a href="~/En/Admin/SpecialDiscount/CreateSpecialDiscount" class="mdc-button mdc-button--unelevated bg--blue-700 uk-box-shadow-medium">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label IRANSans fontsize-12">
                       Add New Special Offer
                    </span>
                    <i class="material-icons mr-sm-2 fontsize-18 mr-2">
                        add
                    </i>
                </a>
            </div>
            <!--Search form-->
            <div class="col-md-4 col-sm-auto my-2 px-1 px-sm-2">
                <div class="uk-inline w-100">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
                    <input autocomplete="off" name="specialDiscountSearch" class="uk-input w-100 IRANSans_Light fontsize-14" dir="ltr" type="text" placeholder="search">
                </div>
            </div>

            <!--Select Sort By-->
            <div class="col-md-2 col-sm-3 my-2  px-1 px-sm-2 position-relative" style="z-index:5;">
                <div class="mdc-select mdc-select--outlined special-discount-sort">
                    <div class="mdc-select__anchor w-100 bg--white h-40">
                        <i class="mdc-select__dropdown-icon" style="top:5px"></i>
                        <div id="demo-selected-text" class="mdc-select__selected-text IRANSans_Light fontsize-12 position-relative" style="top:-5px" aria-labelledby="outlined-select-label"></div>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label id="outlined-select-label" class="mdc-floating-label IRANSans_Light fontsize-14">Sort By</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>

                    <!-- Select customer status => Options -->
                    <div class="mdc-select__menu mdc-menu mdc-menu-surface w-100" role="listbox">
                        <ul class="mdc-list IRANSans_Light fontsize-12">
                            <li class="mdc-list-item mdc-list-item--selected" data-value="0" role="option">
                               Start Date(acsending)
                            </li>
                            <li class="mdc-list-item" data-value="1" role="option">
                               Start Date(decsending)
                            </li>
                            <li class="mdc-list-item" data-value="2" role="option">
                                Active
                            </li>
                            <li class="mdc-list-item" data-value="3" role="option">
                               Expired
                            </li>
                            <li class="mdc-list-item" data-value="4" role="option">
                               Best Seller
                            </li>
                            <li class="mdc-list-item" data-value="5" role="option">
                               Most Visited
                            </li>
                        </ul>
                    </div>
                </div>
               
            </div>

        </div>
        <!--List of special discounts-->
        <div id="datatable-special-discount-list-container">
            <vc:special-discount-list text="@(null)" sort-type="0" page-index="1"></vc:special-discount-list>
        </div>
      
    </div>