@model IEnumerable<ReplyComment>
@if (Model.Count() > 0)
{
  
        var persianDate = new System.Globalization.PersianCalendar();

   
    <ul dir="ltr" class="margin-y-30 reply-comment-list">
        @foreach (var item in Model)
        {
            var submitedDate = item.SubmitedDate.ToString("dddd dd MMMM yyyy");

            <li class="margin-y-10 reply-comment-list-items">
                <article class="uk-comment uk-comment-primary uk-visible-toggle" tabindex="-1">
                    <header class="uk-comment-header uk-position-relative">
                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img width="45" alt="default" src="~/images/icons/account-box.svg" />
                            </div>
                            <div class="uk-width-expand">
                                <h4 class="uk-comment-title uk-margin-remove dana-font font-color-1 fontsize-14 mobile-fontsize-12">
                                    @item.FullName
                                </h4>
                                <p class="uk-comment-meta uk-margin-remove-top">
                                    <span class="dana-font fontsize-14 mobile-fontsize-12 font-color-4 digit-format">@submitedDate</span>
                                </p>
                            </div>
                        </div>

                    </header>
                    <div class="uk-comment-body dana-font fontsize-14 mobile-fontsize-12 line-height-25" dir="ltr">
                        <p>
                            @item.Description
                        </p>
                    </div>
                </article>
            </li>
        }


    </ul>
}
