// stylelint-disable declaration-no-important

//
// Utilities for common `display` values
//

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $value in $displays {
      .d#{$infix}-#{$value} { display: $value !important; }
    }
  }
}


//
// Utilities for toggling `display` in print
//

@media print {
  @each $value in $displays {
    .d-print-#{$value} { display: $value !important; }
  }
}

@keyframes visible-card {
    from {
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
    } 
    to {
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@-moz-keyframes visible-card {
    from {
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
    } 
    to {
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@-webkit-keyframes visible-card {
    from {
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
    } 
    to {
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
}
//---Opacity animation---
@keyframes opacity-animate {
    from {
       opacity:0;
    }

    to {
       opacity:1;
    }
}

@-moz-keyframes opacity-animate {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes opacity-animate {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.min-width--80{
    min-width:80px !important;
}
.min-width--100{
    min-width:100px !important;
}
.min-width--200{
    min-width:200px !important;
}
.max-width--600px{
    max-width:600px !important;
}