<!--Breadcrumb for this url-->
<div class="row p-0 m-0 bg--white py-2 my-3 uk-box-shadow-small uk-border-rounded border position-relative">
    <div class="col-12" dir="rtl">
        <ul class="uk-breadcrumb IRANSans_Light fontsize-12 text-right p-0 m-0 d-flex" dir="rtl">
            <li><a href="~/Admin" class="fontsize-12">مدیریت</a></li>
            <li class="mx-sm-1 uk-active">مدیریت بنرها</li>
        </ul>
        <div class="bg--blue-600 position-absolute rounded-left" style="width:8px;left:0;top:-8px;height:calc(100% + 16px);"></div>
    </div>

</div>

<!--Product Creation Form-->
<div class="row my-2 m-0" dir="rtl" id="main-container">
    <!--Banners of home page-->
    <div class="col-12 uk-background-default  uk-box-shadow-medium border uk-border-rounded py-3">

        <h3 class="iranyekanwebregular fontsize-14 text-right mx-3 my-1 py-2">
            <span class="blue-600 border-bottom--blue py-2"> بنر های صفحه اول</span>
        </h3>
        <vc:home-banner-management></vc:home-banner-management>
    </div>
    <!--Banners of blog list page-->
    <div class="col-12 uk-background-default  uk-box-shadow-medium border uk-border-rounded py-3 mt-3">
        <h3 class="iranyekanwebregular fontsize-14 text-right mx-3 my-1 py-2">
            <span class="blue-600 border-bottom--blue py-2"> بنر های صفحه مقالات</span>
        </h3>
        <vc:blog-page-banners-management></vc:blog-page-banners-management>
    </div>
</div>
