@model IEnumerable<HomeSliderImages>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
         uk-slideshow="max-height:520;animation: scale;autoplay:true;autoplay-interval:3000;velocity:.3">
        <ul class="uk-slideshow-items" id="home-slide-show">
            @if (Model.Count() < 1)
            {
                <li>

                    <img class="w-100" src="~/images/banners/bnnerrectangle-min.png" uk-cover>

                </li>
            }
            @foreach (var item in Model)
            {
                <li>
                    <a href="@item.TargetLink" title="@item.AlternativeText" class="text-decoration-none uk-position-cover">
                        <img class="" src="~/images/homepageslider/large/@item.ImageName"
                             srcset="/images/homepageslider/small/@item.ImageName 600w,
                             /images/homepageslider/medium/@item.ImageName 800w,
                             /images/homepageslider/large/@item.ImageName 1200w"
                             alt="@item.AlternativeText" uk-cover>
                    </a>
                </li>
            }
        </ul>
        <!--arrow navigations of slide show-->
        <a class="uk-position-center-left uk-position-small uk-hidden-hover slide-navigation slide-navigation-left" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover slide-navigation slide-navigation-right" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        <!--dot navigations of slide show-->
        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
