@import "../mixins/_custom-mixins.scss";
#comment-list-items {
    &::-webkit-scrollbar {
        display: none;
    }

    max-height: 600px;
    min-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;

    .uk-badge {
        display: inline-flex;
        align-items: center;
        min-width: 10px;
        height: 16px;
        padding: 5px;
    }

    li {
        margin: 0;

        a {
            display: inline-block;
            width: 100%;
            padding: 15px 10px;
        }
    }

    li:hover {
        background-color: rgba(254, 255, 236, 0.96);
    }
}
#comment-list-contents {
    &::-webkit-scrollbar {
        display: none;
    }

    max-height: 600px;
    min-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;

    @include multiple-devices-query("Tablet") {
        display: none;
    }

    @include multiple-devices-query("Mobile") {
        display: none;
    }

    &.active {
        @include multiple-devices-query("Tablet") {
            position: absolute !important;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 12;
            display: block;
        }

        @include multiple-devices-query("Mobile") {
            position: absolute !important;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 12;
            display: block;
        }
    }


    .user-comment-box {
        background-color: white;
        max-width: 80%;
        align-self: flex-end;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        border-radius: 5px;
    }

    .admin-comment-box {
        background-color: #f9fff7;
        max-width: 75%;
        align-self: flex-start;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        border-radius: 5px;
    }
}
.comment-actions {
    
    border-top:1px dashed #c4c2c2;
    a {
        display: flex;
        align-items: center;
        margin: 0 10px;
        text-decoration:none;
    }
}

#reply-comment-modal {
    [class*='uk-modal-close-'] {
        left: 10px;
        right: unset;
    }
}

.uk-comment-list {
    li.active {
        background-color: #f7f9f0 !important;
    }
}