@import "../bourbon";
@import "../mixins/custom-mixins";
#orders-analytics-table {
    border-collapse: collapse;
    border-spacing: 0;

    tr {
        border-collapse: collapse;
        border-spacing:0;
        td, th {
            padding-left: 10px;
            text-align: right;
            border: 1px solid #dedede;
            min-height:80px;
            vertical-align:middle;
            div.td--title{
                min-width:140px;
            }
            div.td--name,&.td--date{
                min-width:100px;
            }
            div.td--number{
                min-width:30px;
            }
            div.td--price{
                min-width:60px;
            }
            div.td--status{
                min-width:90px;
            }
        }

        th {
            text-align: center
        }
    }
}


.border-sm-right {
    border-right: $border-width solid $border-color;

    @include multiple-devices-query("Mobile") { 
        & {
            border-right: none;
        }
    }
}

.border-mobile-top {
    border-top:none;
    @include multiple-devices-query("Mobile") {
        & {
            border-top: $border-width solid $border-color;
        }
    }
}

#order-product-detail {
    th.product-name, td.product-name {
        min-width: 110px;
    }

    td, th {
        min-width: 90px;
    }
    
    border-top: 1px dashed #e4e4e4;
}

