<div class="col-12 uk-background-default uk-box-shadow-medium border uk-border-rounded p-sm-3 px-2 py-3 bg--white"
     id="comment">
    <div class="my-3">
        <ul uk-tab>
            <li class="uk-active">
                <a href="#"
                   class="fontsize-12 Arial text-decoration-none"
                   id="product-comment-tab">Products</a>
            </li>
            <li>
                <a href="#"
                   class="fontsize-12 Arial text-decoration-none"
                   id="blog-comment-tab">Blogs</a>
            </li>
        </ul>
    </div>
    <div class="row p-0 m-0 border uk-border-rounded uk-box-shadow-small position-relative" dir="ltr"
         id="comments-container">
        <vc:product-comment-review></vc:product-comment-review>
    </div>
</div>

