@model MyShop.Controllers.ChangePasswordController.PasswordModel
<!--Partial Content-->
<div id="change-password-card" class="uk-card uk-card-default position-relative">
    <div class="uk-card-header d-flex uk-flex-wrap border-bottom-grey uk-flex-between align-items-center">
        <h3 class="dana-font fontsize-14 mobile-fontsize-12 font-weight-500 margin-bottom-0  margin-y-5
            flex-grow-1 font-color-3">
            Change Password
        </h3>
        <a asp-controller="Customer" asp-action="Index"
           class="uk-button uk-button-default uk-border-rounded partial-top-link flex-grow-0 margin-y-5
           align-items-center d-flex uk-flex-between">
            <span class="d-flex align-items-center" uk-icon="icon:arrow-left"></span>
            <span class="dana-font font-weight-400 fontsize-12 margin-left-10">Back</span>

        </a>
      
    </div>
    <div class="uk-card-body margin-y-30 padding-x-15">
        <article class="">
            <form class="customer-form" method="post"
                  asp-action="ResetPassword" asp-controller="ChangePassword" asp-area="">
                <div class="form-row">
                    <div class="dana-font fontsize-12 xsmobile-fontsize-10 padding-x-5 margin-y-15 font-weight-400">
                        <div class="custom-text-field">
                            <label class="uk-form-label" asp-for="OldPassword">Old Password</label>
                            <div class="uk-inline w-100" dir="ltr">
                                <input class="uk-input uk-text-left border-radius-3" asp-for="OldPassword"
                                       placeholder="Enter your old password" type="password">
                            </div>
                        </div>
                        <span asp-validation-for="OldPassword" class="dana-font fontsize-12 xsmobile-fontsize-10 red-text"></span>
                    </div>

                    <div class="dana-font fontsize-12 xsmobile-fontsize-10 padding-x-5 margin-y-15 font-weight-400">
                        <div class="custom-text-field">
                            <label class="uk-form-label" asp-for="NewPassword">New Password</label>
                            <div class="uk-inline w-100" dir="ltr">
                                <input class="uk-input uk-text-left border-radius-3" asp-for="NewPassword"
                                       placeholder="Enter new password" type="password">
                            </div>
                        </div>
                        <span asp-validation-for="NewPassword" class="dana-font fontsize-12 xsmobile-fontsize-10 red-text"></span>
                    </div>
                </div>
                <div class="uk-text-left d-flex align-items-center uk-flex-wrap padding-x-5">
                    <button class="wave-button white-text black border-radius-3" type="submit" style="width:80px">

                        <span class="dana-font fontsize-12 xsmobile-fontsize-10 font-weight-400">
                            Edit
                        </span>
                    </button>
                    <a asp-area="Identity" asp-page="/Account/ForgotPassword" asp-route-returnUrl="@Context.Request.Path"
                       class="dana-font fontsize-12 text-decoration-none main-color margin-x-10 margin-y-10">Forgot Password?</a>
                </div>
            </form>
        </article>
    </div>
</div>
