<!--Breadcrumb for this url-->
<div class="row p-0 m-0 bg--white py-2 my-3 uk-box-shadow-small uk-border-rounded border position-relative">
    <div class="col-12" dir="ltr">
        <ul class="uk-breadcrumb IRANSans_Light fontsize-12 text-left p-0 m-0 d-flex" dir="ltr">
            <li><a href="~/En/Admin" class="fontsize-12">Dashboard</a></li>
            <li class="mx-sm-1 uk-active">Banners</li>
        </ul>
        <div class="bg--blue-600 position-absolute rounded-right" style="width:8px;right:0;top:-8px;height:calc(100% + 16px);"></div>
    </div>

</div>

<!--Product Creation Form-->
<div class="row my-2 m-0" dir="ltr" id="main-container">
    <!--Banners of home page-->
    <div class="col-12 uk-background-default  uk-box-shadow-medium border uk-border-rounded py-3">

        <h3 class="Arial fontsize-14 text-left mx-3 my-1 py-2">
            <span class="blue-600 border-bottom--blue py-2"> Home Page Banners</span>
        </h3>
        <vc:home-banner-management></vc:home-banner-management>
    </div>
    <!--Banners of blog list page-->
    <div class="col-12 uk-background-default  uk-box-shadow-medium border uk-border-rounded py-3 mt-3">
        <h3 class="Arial fontsize-14 text-left mx-3 my-1 py-2">
            <span class="blue-600 border-bottom--blue py-2"> Blog Page Banners</span>
        </h3>
        <vc:blog-page-banners-management></vc:blog-page-banners-management>
    </div>
</div>
