@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Change Password";
}
@section Style{
    <link href="~/dist/sass/pages/_account.min.css" rel="stylesheet" />
}
<!--Reset Password form-->
<section class="d-flex uk-box-shadow-small padding-20 white uk-border-rounded margin-x-10">
    <div class="uk-border-rounded w-100">
        <div class="text-center margin-y-20">
            <strong class="font-weight-500 dana-font xsmobile-fontsize-14
                                fontsize-16 text-center margin-0">Change Password</strong>
            <div class="uk-text-center margin-top-10" dir="ltr">
                <span class="dana-font fontsize-14 xsmobile-fontsize-12">Don't register yet?</span>
                <a asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@ViewData["returnUrl"]" class="main-color text-decoration-none
                           dana-font border-bottom--red--dashed py-1 fontsize-14 xsmobile-fontsize-12">Sign up</a>
            </div>
        </div>
        <div class="d-flex justify-content-center" dir="ltr">
            <form asp-route-returnUrl="@ViewData["returnUrl"]" asp-route-userId="@ViewData["userId"]" method="post" class="w-100">
                <div asp-validation-summary="All" class="red-text dana-font fontsize-12 line-height-25
                     text-left uk-border-rounded" dir="ltr">
                    <div class="validation-errors-header uk-text-left dana-font fontsize-14 mobile-fontsize-12 white-text">Errors</div>
                </div>
                <div class="uk-margin w-100 mb-0" dir="ltr">
                    <div class="uk-inline w-100" dir="ltr">

                        <a href="#" class="uk-form-icon text-decoration-none visible-password-icon" uk-tooltip="title:visible">
                            <img data-second-src="/images/icons/visibility_off.svg" width="18" src="~/images/icons/visibility.svg" />
                        </a>
                        <input asp-for="Input.Password" class="uk-input dana-font fontsize-14 xsmobile-fontsize-12 w-100 uk-border-rounded" type="password" placeholder="Enter your password">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    </div>
                    <span asp-validation-for="Input.Password" class="red-text dana-font fontsize-12"></span>
                </div>
               
                <button class="w-100 restpass--button uk-box-shadow-medium wave-button
                                    submit-button margin-y-20 padding-x-15" type="submit">
                    <span class="dana-font fontsize-14  xsmobile-fontsize-12 font-weight-500">Change Password</span>
                </button>
            </form>
        </div>
    </div>
</section>
@section JavaScript {
    <script src="~/dist/js/pages/_account.min.js" type="module"></script>
}
