@model IEnumerable<ProductTechnicalContent>
@if (Model.Count() > 0)
{
    <div class="padding-10" style="max-width:900px;">
        @foreach (var item in Model)
        {
            if (item.ContentType.Equals(ContentType.Text))
            {
                <div class="dana-font fontsize-16 mobile-fontsize-14 font-color-1 line-height-30">
                    @Html.Raw(item.Content)
                </div>
            }
            else if (item.ContentType.Equals(ContentType.Image))
            {
                <div class="margin-y-10 uk-text-center">
                    <img class="max-width-100 lazyload" src="~/images/base/placeholderimage.jpg"
                         data-src="/images/product_content/medium/product_@(item.ProductId)/@item.Content"
                         data-srcset="/images/product_content/small/product_@(item.ProductId)/@item.Content 600w,
                                      /images/product_content/medium/product_@(item.ProductId)/@item.Content 800w,
                                      /images/product_content/large/product_@(item.ProductId)/@item.Content 1200w"
                         alt="@item.AltTextForImage" loading="lazy">
                </div>
            }
            else if (item.ContentType.Equals(ContentType.Video))
            {
               <div class="col-12 my-3 video-content">
                   @Html.Raw(item.Content)
               </div>
            }

        }
    </div>
}
