@*Category Page*@
@model CategoryController
@{
    ViewData["Title"] = "Categories";
    int myParentId = (int)ViewData["parent-id"];
   ViewData["categoriespage"] = "active"; 
}
<!--Breadcrumb for this url-->
<div class="row p-0 m-0 bg--white py-2 my-3 uk-box-shadow-small uk-border-rounded border position-relative">
    <div class="col-12" dir="ltr">
        <ul class="uk-breadcrumb IRANSans_Light fontsize-12 text-left p-0 m-0 d-flex" dir="ltr">
            <li><a class="fontsize-12" href="~/En/Admin">Dashboard</a></li>
            <li class="mx-1 uk-active">Categories</li>
        </ul>
        <div class="bg--blue-600 position-absolute rounded-right" style="width:8px;right:0;top:-8px;height:calc(100% + 16px);"></div>
    </div>

</div>
<!--Category List-->
<div class="row my-2 m-0" dir="ltr" id="main-container" style="margin-bottom:60px !important">
    <div class="col-12 uk-background-default uk-box-shadow-medium border uk-border-rounded p-sm-3 p-1 pb-3 bg--white" id="category">
        <div class="row">
            <div class="col-md-6 order-1 order-md-0">
                <vc:category-list id="@myParentId"></vc:category-list>
            </div>

            <!--Add new category-->
            <div class="col-md-6 order-0 order-md-1">
                <h3 class="Arial fontsize-14 text-left mx-3 my-1 py-2 mb-3">
                    <span class="blue-600 border-bottom--blue py-2">Create New Category</span>

                </h3>
                <form asp-area="Admin" asp-controller="Category" asp-action="CreateCategory" method="post" enctype="multipart/form-data">
                    <div class="row py-2 mx-1 px-lg-2 uk-border-rounded uk-box-shadow-small border">
                        <!--Category tile-->
                        <div class="col-12 my-2">
                            <div class="">
                                <label class="uk-form-label IRANSans_Light fontsize-12 grey-darken-4" asp-for="Input.Title">Category Title</label>
                                <div class="uk-form-controls">
                                    <input asp-for="Input.Title" class="uk-input IRANSans_Light fontsize-12 uk-border-rounded" type="text" placeholder="enter title of category" value="">
                                </div>
                            </div>
                            <span asp-validation-for="Input.Title" class="uk-text-danger Arial fontsize-12"></span>
                        </div>
                        <!--Select category parent-->
                        <div class="col-12 my-2 mt-3">
                            <input type="hidden" asp-for="Input.ParentId" />
                            <div class="mdc-select mdc-select--outlined parent-of-category">
                                <div class="mdc-select__anchor w-100 bg--white h-40">
                                    <i class="mdc-select__dropdown-icon" style="top:5px"></i>
                                    <div id="demo-selected-text" class="mdc-select__selected-text IRANSans_Light fontsize-12 position-relative" style="top:-5px" aria-labelledby="outlined-select-label"></div>
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label id="outlined-select-label" class="mdc-floating-label IRANSans_Light fontsize-14">Choose Parent Category</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>

                                <!--other category titles -->
                                <div class="mdc-select__menu mdc-menu mdc-menu-surface w-100" role="listbox">
                                    <ul class="mdc-list IRANSans_Light fontsize-12">

                                        <vc:category-list-titles my-id="-1" is-from-product="true"></vc:category-list-titles>
                                    </ul>
                                </div>
                            </div>
                            <span asp-validation-for="Input.ParentId" class="uk-text-danger Arial fontsize-12"></span>
                        </div>
                        <!--Image of category-->
                        <div class="col-12 my-3">
                            <div class="border form-bundle uk-border-rounded">
                                <label class="IRANSans_Light">Category Image</label>

                                <div class="m-3 p-2">
                                    <label class="d-block"  asp-for="Input.CategoryImage">
                                        <div id="category-image-container" class="d-flex flex-column">
                                            <span asp-validation-for="Input.CategoryImage" class="uk-text-danger Arial fontsize-12"></span>

                                            <img width="250" src="" id="image-result" class="d-none mw-100 my-3" />
                                            <input type="file" class="d-none" asp-for="Input.CategoryImage" accept="image/*" />
                                            <div class="js-upload uk-placeholder uk-text-center image-upload--placeholder uk-border-rounded" dir="ltr">
                                                <div uk-form-custom class="blue-600">

                                                    <span uk-icon="icon: cloud-upload"></span>
                                                    <label asp-for="Input.CategoryImage" class="uk-link IRANSans_Light fontsize-12">Add New Image</label>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="mdc-button mdc-button--unelevated bg--white border--blue px-0 uk-box-shadow-small" asp-for="Input.CategoryImage"
                                               style="height:30px">
                                            <div class="mdc-button__ripple"></div>
                                            <span class="mdc-button__label IRANSans fontsize-10 blue-600 px-1 px-sm-2">
                                                Add/Change Image
                                            </span>
                                        </label>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <!--Category description-->
                        <div class="col-12 my-3">
                            <div class="border form-bundle uk-border-rounded p-3">
                                <label class="IRANSans_Light">Description</label>
                                <input type="hidden" asp-for="Input.Description" />
                                <div class="IRANSans_Light fontsize-12 text-editor"
                                     style="min-height:120px">
                                    <p class="ql-align-right ql-direction-ltr uk-text-muted">

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--Can add product feature-->
                        <div class="col-lg-6 my-2">
                            <label asp-for="Input.CanAddProduct" class="IRANSans_Light fontsize-12">
                                <input asp-for="Input.CanAddProduct" class="uk-checkbox uk-border-rounded" type="checkbox" checked>
                                <span class="mr-1">Ability to add product</span>
                            </label>
                        </div>
                        <!--Put this category on home page-->
                        <div class="col-lg-6 my-2">
                            <label asp-for="Input.PutOnHomePage" class="IRANSans_Light fontsize-12">
                                <input asp-for="Input.PutOnHomePage" class="uk-checkbox uk-border-rounded" type="checkbox" checked>
                                <span class="mr-1">Display in home page</span>
                            </label>
                        </div>
                        <!--SEO Settings-->
                        <div class="col-12 my-2 p-2">
                            <div class="border border--dashed form-bundle uk-border-rounded m-2">
                                <label class="IRANSans_Light">SEO Settings</label>
                                <div class="m-1 m-lg-2">
                                    <div class="custom-text-field mx-2 my-4">
                                        <label asp-for="Input.TitlePage" class="uk-form-label IRANSans_Light">Title</label>
                                        <div class="uk-form-controls d-flex">
                                            <input asp-for="Input.TitlePage" class="uk-input IRANSans_Light fontsize-12" type="text" value="" placeholder="title(60-70 chars)">
                                        </div>
                                    </div>
                                    <div class="custom-text-field mx-2 my-4">
                                        <label class="uk-form-label IRANSans_Light" asp-for="Input.RedirectURL">Redirect URL (301 redirect)</label>
                                        <div class="uk-form-controls d-flex">
                                            <input class="uk-input IRANSans_Light fontsize-12" asp-for="Input.RedirectURL" type="text" placeholder="enter target link">
                                        </div>
                                    </div>
                                    <div class="custom-text-field mx-2 my-4">
                                        <label asp-for="Input.MetaDescription" class="uk-form-label IRANSans_Light">Meta Description</label>
                                        <div class="uk-form-controls d-flex">
                                            <textarea asp-for="Input.MetaDescription" class="uk-textarea IRANSans_Light fontsize-12 uk-border-rounded" rows="5"
                                                      placeholder="meta description(50-160 chars)">@string.Empty</textarea>
                                        </div>
                                    </div>
                                    <div class="my-3">
                                        <div class="border form-bundle uk-border-rounded m-2">
                                            <label class="IRANSans_Light">Search Engine Preview</label>
                                            <div class="m-3">
                                                <div id="title-page-preview" class="IRANSans fontsize-14" style="color:#1a0dab">Title</div>
                                                <div id="metadescription-page-preview" class="IRANSans_Light fontsize-12">If leave empty, it automatically will generate by search engine</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--Submit button-->
                        <div class="col-12 mb-3">
                            <button type="submit" class="mdc-button mdc-button--unelevated create-category__submit-button
                                    bg--blue-700 uk-box-shadow-medium">
                                <div class="mdc-button__ripple"></div>
                                <span class="mdc-button__label IRANSans fontsize-12">
                                   Create
                                </span>
                                <i class="material-icons mr-sm-2 fontsize-18 mr-2">
                                    add
                                </i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>
@section Scripts{
    <script>

        const mdcButton = $('.mdc-button');
        for (let i = 0; i < mdcButton.length; i++) {
            mdc.ripple.MDCRipple.attachTo(document.querySelectorAll('.mdc-button')[i]);
        }



        const mdcTextField = $('.mdc-text-field');
        for (let i = 0; i < mdcTextField.length; i++) {
            mdc.textField.MDCTextField.attachTo(document.querySelectorAll('.mdc-text-field')[i]);
        }

    </script>
}