@model BlogCategory
    <div class="col-xl-2 col-md-3 col-sm-4 my-2 px-1 px-sm-2 blog-category-item"
         data-my-id="@Model.BlogCategoryId">
        <div class="d-flex align-items-center bg--white border w-100" dir="ltr">
            <span class="uk-sortable-handle uk-margin-small-right px-2" uk-icon="icon: table;ratio:.9"></span>
            <span class="IRANSans fontsize-12 flex-grow-1">@Model.Title</span>
        </div>
    </div>