@model IEnumerable<string>
    <div class="d-flex flex-column justify-content-center">
        @foreach (var item in Model)
        {
            <strong class="fontsize-12 IRANSans_Light">@item</strong>
        }

    </div>