@{
    
}
    <div class="col-12 uk-background-default  uk-box-shadow-medium border uk-border-rounded py-3">
        <!--Title of messages list-->
        <div class="d-flex justify-content-between align-items-center flex-wrap-reverse">
            <h3 class="Arial fontsize-14 text-left mx-3 my-1 py-2">
                <span class="blue-600 border-bottom--blue py-2">Messages</span>
            </h3>
        </div>
        <!--Filtering options-->
        <div class="row uk-background-default py-2 m-0 align-items-center">
            <!--Search form-->
            <div class="col-md-4 col-sm-3 my-2">
                <div class="uk-inline w-100">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
                    <input autocomplete="off" name="messageSearch" class="uk-input w-100 IRANSans_Light fontsize-14" dir="ltr"
                           type="text" placeholder="search">
                </div>
            </div>

            <!--Select Sort By-->
            <div class="col-md-2 col-sm-3 my-2 mt-3 position-relative" style="z-index:5;">
                <div class="mdc-select mdc-select--outlined  message-sort">
                    <div class="mdc-select__anchor w-100 bg--white my-2 h-40">
                        <i class="mdc-select__dropdown-icon" style="top:5px"></i>
                        <div id="demo-selected-text" class="mdc-select__selected-text IRANSans_Light fontsize-12 position-relative" style="top:-5px" aria-labelledby="outlined-select-label"></div>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label id="outlined-select-label" class="mdc-floating-label IRANSans_Light fontsize-14">Sort</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <!-- Select Sort By => Options -->
                    <div class="mdc-select__menu mdc-menu mdc-menu-surface w-100 my-2" role="listbox">
                        <ul class="mdc-list IRANSans_Light fontsize-12">
                            <li class="mdc-list-item mdc-list-item--selected" data-value="0" role="option">
                                Newest
                            </li>
                            <li class="mdc-list-item" data-value="1" role="option">
                                Oldest
                            </li>
                            <li class="mdc-list-item" data-value="2" role="option">
                                Answered
                            </li>
                            <li class="mdc-list-item" data-value="3" role="option">
                               Unanswered
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

          
        </div>
        <!--Table of messages-->
        <div id="message-list-container" data-sort="0" data-searchText="">
            <vc:message-list page-index="1" sort="0" search-text="@(null)"></vc:message-list>
        </div>
    </div>