@model IEnumerable<Order>
<div class="mdc-data-table d-block overflow-auto my-4">
    <table class="mdc-data-table__table overflow-auto">
        <thead class="IRANSans fontsize-12 bg--light-2">
            <tr class="mdc-data-table__header-row">
                <th class="mdc-data-table__header-cell text-left mdc-data-table__header-cell--numeric text-center fontsize-12 IRANSans blue-500 product-name">Product Name</th>
                <th class="mdc-data-table__header-cell text-left mdc-data-table__header-cell--numeric text-center fontsize-12 IRANSans blue-500">Quantity</th>    
                <th class="mdc-data-table__header-cell text-left mdc-data-table__header-cell--numeric text-center fontsize-12 IRANSans blue-500">Price</th>
                <th class="mdc-data-table__header-cell text-left mdc-data-table__header-cell--numeric text-center fontsize-12 IRANSans blue-500">Total</th>
            </tr>
        </thead>
        <tbody class="mdc-data-table__content IRANSans_Light fontsize-12">
            @foreach (var item in Model)
            {
                <tr class="mdc-data-table__row">
                    <td class="mdc-data-table__cell text-center product-name IRANSans_Light fontsize-12">@item.ProductTitle</td>
                    <td class="mdc-data-table__cell text-center IRANSans_Light fontsize-12">@item.Number</td>
                    <td class="mdc-data-table__cell text-center IRANSans_Light fontsize-12">@(item.TotalPrice)</td>
                    <td class="mdc-data-table__cell text-center IRANSans_Light fontsize-12">@(item.TotalPrice*item.Number)</td>
                </tr>
            }

        </tbody>
    </table>
</div>