@model IEnumerable<CategoryTitleDropDown>
@if (Model != null)
{
    @foreach (var item in Model)
    {
        <div class="added-related-category-chip d-inline-block border uk-border-rounded bg--white uk-box-shadow-small py-1 ml-2 my-1" dir="rtl">
            <a href="#" data-category-id="@item.Id" data-product-id="@ViewData["ProductId"]" class="text-decoration-none red-lighten-7 px-2 delete-related-category-icon"
               uk-tooltip="title:حذف">
                <span uk-icon="icon:close;ratio:.7"></span>
            </a>
            <span class="IRANSans_Light fontsize-12 border-right px-2 grey-darken-4">@item.Title</span>
        </div>
    }
}

