@import "../bourbon";
@import "../mixins/custom-mixins";
$active-color: #1481ab;
$active-color02: #369590;
$side-menu-width: 250px;

.offcanvas-body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.offcanvas-html {
    overflow-y: hidden;
    overflow-x: hidden;
}

.offcanvas-menu {
    overflow-y: auto;
    overflow-x: hidden;
}

#top-menu {
    height: 64px;
    z-index: 2;

    .top-menu__sidemenu-icon-container {
        min-width: 50px;
    }

    .top-menu__profile-information-container {
        min-width: 100px;
    }

    #top-menu__title-container {
        width: 0;
        position: relative;
        overflow: hidden;
        padding-left: 0 !important;
        @include prefixer(transition,all .3s ease-in,("webkit","moz","o"));

        a {
            position: absolute;
            top: 20px;
            left: 0;
            padding-left: 0 !important;
            @include prefixer(transform,translateX(300px),("webkit","moz","o"));
            @include prefixer(transition,all .3s ease-in,("webkit","moz","o"));
        }

        @include multiple-devices-query(1050) {
            width: 0;
        }

        &.opened {
            width: $side-menu-width;
            @include prefixer(transition,all .3s ease-in,("webkit","moz","o"));
            @include prefixer(transform,translateX(0),("webkit","moz","o"));

            a {
                @include prefixer(transform,translateX(0),("webkit","moz","o"));
                position: absolute;
                top: 20px;
                left: 0;
                padding-left: 20px;
                @include prefixer(transition,all .3s ease-in,("webkit","moz","o"));
            }
        }
    }
}


#search-button,
#help-button {
    @include multiple-devices-query("Mobile") {
        min-width: 30px;
        width: 30px;
        height: 30px;
        padding: 6px;
        i{
            font-size:22px;
        }
    }
}
.top-menu__search-form-mobile {
    height: 65px;
    top: -72px;
    left: 0;
    right: 0;
    padding: 14px 10px 14px 20px;
    z-index: 12;
    @include prefixer(transition,all .3s ease,("webkit","moz","o"));

    &.active {
        top: 0;
        @include prefixer(transition,all .4s ease-in,("webkit","moz","o"));
    }

    #close-search-form-mobile {
        position: absolute;
        top: 5px;
        right: 3px;
        z-index: 11;
    }
}
.back-fade {
    height: 100vh;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    width: 100% !important;
    background-color: black;
    z-index: 12;

    &.opened {
        @include multiple-devices-query(1050) {
            opacity: .4;
            visibility: visible;

            @include prefixer(transition,all .3s ease-in,("webkit","moz","o"));
        }
    }
}
#side-menu-container {
    overflow: hidden !important;

    

    overflow: hidden;

    &:hover {
        @extend .offcanvas-menu;
    }

    width: 0;
    height: calc(89vh + 40px);

    @include multiple-devices-query(1050) {
        width: $side-menu-width;
        position: fixed !important;
        left: -301px;
        top: 0;
        z-index: 14;
        height: 100%;

       
    }

    @include prefixer(transition,all .3s ease-in,("webkit","moz","o"));

    &.opened {
        width: $side-menu-width;
        @include prefixer(transition,all .3s ease-in,("webkit","moz","o"));
    }

    &.opened-mobile {
        @include multiple-devices-query(1050) {
            position: fixed !important;
            left: 0;

           
        }
    }
}

#side-menu {
    @include multiple-devices-query(1050) {
        position: relative !important; 
        width: 300px;
        height: 100vh;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    position: absolute;
    z-index: 14;
    width: $side-menu-width !important;
    height: calc(100vh - 40px);
    overflow: auto;
    
    @include prefixer(transform,translateX(-300px),("webkit","moz","o"));
    @include prefixer(transition,all .3s ease-in,("webkit","moz","o"));

    &.opened {
        @include prefixer(transform,translateX(0),("webkit","moz","o"));
        position: relative;
        left: 0;
        @include prefixer(transition,all .3s ease-in,("webkit","moz","o"));
    }

    #side-menu__accordion {
        .uk-accordion-title::before {
            display: none;
        }

        .uk-accordion-title {
            &:hover, &:hover::after {
                border-color: $active-color !important;
                color: $active-color !important;
            }
        }

        .uk-accordion-title.has-sub-items {
            position: relative;
            text-decoration: none;

            &::after {
                content: '';
                position: absolute;
                right: 2px;
                top: .3em;
                border-color: #5e5e5e;
                @include chevron("bottom",.38em,.38em);
                @include prefixer(transition,transform .1s ease-out,("webkit","moz","o"));
            }
        }

        .side-menu__accordion__list-item {
            border-bottom: 1px dashed #a2a2a2;

            &.active {
                a {
                    color: $active-color !important;
                }

                a::after {
                    border-color: $active-color !important;
                    @include chevron("top",.38em,.38em);
                    @include prefixer(transition,transform .1s ease-out,("webkit","moz","o"));
                }
            }

            
        }

        .accordion__list-item__sub-list {
            border-left: 3px solid #dcdcdc61;
            padding-left: 10px;
            position: relative;
            left: -5px;
            @include prefixer(transform,translateX(-10px),("webkit","moz","o"));

            .sub-list__list-item {
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                    color: #454242;
                }

                &:hover {
                    a {
                        color: $active-color02 !important;
                        @include prefixer(transition,color .2s ease-in-out,("webkit","moz","o"));
                    }
                }
            }
        }
    }
}

