/*====================== Components ==================*/
@import "../mixins/custom-mixins";
@import "../fonts";
@import "../colors";
@import "../visual";
@import "../boxmodel";
@import "../sizing";
@import "../align";
@import "../display";
@import "../position"; 
@import "../borders";
@import "starrating";
@import "menu";
@import "index";
@import "main";
@import "footer";
@import "orders";
@import "category";
@import "products";
@import "discount";
@import "blog";
@import "message";
@import "comments";
@import "faq";
@import "about";


body{
    margin:0;
}
body,html{
    overflow-x:hidden;
}
.uk-notification {
    .uk-notification-message {
        direction: ltr;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        box-shadow: 0 2px 8px rgba(0,0,0,.08);
        color: #59677d;
        text-align: center;
        font-weight: bold;
        font-family: Arial !important;
    }
   
}
.h-40{
    height:40px;
}
.min-width--90{
    min-width:90px;
}
.min-width--100{
    min-width:100px;
}
.min-width--110{
    min-width:110px;
}
.direction-rtl{
    direction:rtl;
}
.overflow-horizantal {
    -webkit-overflow-scrolling: auto !important;
    overflow-x: auto !important;
    overflow-y: hidden;
}
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/material.woff2') format('woff2');
}
.material-icons-outlined{
    font-feature-settings:'liga';
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-feature-settings:'liga';
}
.text-decoration-none{
    text-decoration:none !important;
}
.overflow-hidden{
    overflow:hidden !important;
}
.overflow-hidden-horizantal{
    overflow-x:hidden !important;
}
.overflow-hidden-vertical{
    overflow-y:hidden !important;
}

.list-unstyled{
    list-style:none !important;
}

/*===============Tooltips===================*/
.uk-tooltip {
    font-family: IRANSans_Light;
    z-index: 3000 !important;
    text-align: left;
    direction: ltr;
}

/*===============Admin Layout==================*/
#totop-button {
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    min-width: 40px;
    z-index: 22;
    @include prefixer(transform,rotate(0),("webkit","moz","o"));
   // @include prefixer(transform-origin,center center,("webkit","moz","o"));
    transform-origin:center center;

    div {
        border-radius: 100%;
    }

    @include prefixer(transition,all .3s ease-out,("webkit","moz","o"));

    &.close {
        right: -60px;
        @include prefixer(transform,rotate(720deg),("webkit","moz","o"));
    }
}

/*===========Date Picker=============*/
.bd-calendar {
    font-family: IRANSans_light !important;
    font-size: 12px;

    .bd-next, .bd-prev {
        font-family: IRANSans_light !important;
        font-size:10px;
    }
}

/*===========Custom Text Field========*/
.custom-text-field{
    position:relative;
    label{
        position:absolute;
        top:-8px;
        left:10px;
        background-color:white;
        color:#0026ff;
        height:15px;
        display:flex;
        align-items:center;
        font-size:10px;
        padding:0 4px;
        z-index:4;
    }
    input{
        border-radius:3px;
        border-color:#a9a9a9;
    }
}

/*===========Bread Crumbs============*/
.uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before{
    margin:0 5px;
}


/*===========Tags=============*/
.admin-chip-tags{
    min-width:120px;
    display:flex;
    align-items:center;
    justify-content:start;
}

/*=========Search-Result========*/
.search-result{
    position:absolute;
    top:50px;
    left:0;
    z-index:12;
    min-height:120px;
    max-height:170px;
    overflow:auto;
    display:none;
    li{
        margin:0 !important;
        padding:10px;
        border-bottom:1px dashed #f7f7f7;
        &:last-child{
            border:none;
        }
    }
    li:hover{
        cursor:pointer;
        background-color:#fffeeb;
    }
}

/*======Star Rating=======*/
.stars-rating {
    .star-icon.active {
        polygon {
            fill: #ffd800;
            stroke: #a6a6a6 !important;
        }
    }
}

/*=========Date Pickers==========*/
.bd-dropdown select, .bd-next, .bd-prev {
    font-family: IRANSans_Light !important;
    font-size: 10px !important;
}

/*=========Google material design===========*/
.mdc-select__selected-text {
   min-width:90%;
   overflow:hidden;
   
}

.mdc-linear-progress {
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;

    .mdc-linear-progress__bar-inner {
        border-color: #0075f7;
        border-color: #0075f7;
    }
}

.mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__trailing {
    border-color: #a4a4a4 !important;
    border-width: 1px !important;
}
/*==========uikit icon===============*/
.uk-icon {
    svg {
        min-width: 15px;
    }
}

/*----Hide Scroll----*/
.scroll-hidden::-webkit-scrollbar {
    display: none;
}



input.input-validation-error {
    border-color: red !important;
}

#notification-list li:hover{
    background-color:#f7f8fa !important;
}

.alert-circle {
    position: relative;
    z-index: 4;
    top: 4px;
    left: 8px;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        border: 1px solid red;
        background-color:none;
        z-index:2;
        @include prefixer(animation,alert-circle 1s ease-in-out infinite backwards,("webkit","moz","o","ms"));
    }
}
@keyframes alert-circle{
    0% {
        @include prefixer(transform,scale(1,1),("webkit","moz","o","ms"));
    }  

    50% {
        opacity: 1;
    } 

    100% {
        @include prefixer(transform,scale(3,3),("webkit","moz","o","ms"));
        opacity: 0;
    }
}
@-webkit-keyframes alert-circle{
    0% {
        @include prefixer(transform,scale(1,1),("webkit","moz","o","ms"));
    }

    50% {
        opacity: 1;
    }

    100% {
        @include prefixer(transform,scale(3,3),("webkit","moz","o","ms"));
        opacity: 0;
    }
}
@-moz-keyframes alert-circle{
    0% {
        @include prefixer(transform,scale(1,1),("webkit","moz","o","ms"));
    }

    50% {
        opacity: 1;
    }

    100% {
        @include prefixer(transform,scale(3,3),("webkit","moz","o","ms"));
        opacity: 0;
    }
}
@-o-keyframes alert-circle{
    0% {
        @include prefixer(transform,scale(1,1),("webkit","moz","o","ms"));
    }

    50% {
        opacity: 1;
    }

    100% {
        @include prefixer(transform,scale(3,3),("webkit","moz","o","ms"));
        opacity: 0;
    }
}

.instapost-embed-container {
    max-height: 400px;
    iframe{
        width:100% !important;
        min-width:unset; 
    }
}

